@model IEnumerable<ComputerWebShop.ViewModel.ViewModelUser>

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>DeleteUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("DeleteUserConfirm", "DeleteUserConfirm", new { id = item.UserID })
            </td>
        </tr>
    }

</table>
