@model IEnumerable<ComputerWebShop.Models.Cart>

@{
    ViewBag.Title = "CheckOrders";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div id="containerHolder">
    <div id="container">
        
        <!-- // #sidebar -->
        <!-- h2 stays for breadcrumbs -->
        <h2><a href="~/Admin/Index">Admin</a> &raquo; <a href="#" class="active">Check Orders</a></h2>

        <div id="main">
            <form action="" class="jNice">
                <h3>Orders By User</h3>
                <table cellpadding="0" cellspacing="0">

                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                       
                        <tr>
                            <td>@item.Products.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Quantity* item.Products.Price)</td>


                        </tr>
                    }
                </table>
                <h3>Invoice</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <h1>

                            <img width="150" src="~/Content/images/logo1.jpg" />
                        </h1>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h1>INVOICE</h1>
                        <h1><small>CustomerID @ViewBag.Customer.ID</small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>From: <a href="#">Computer Web Shop</a></h4>
                            </div>
                            <div class="panel-body">
                                <p>Address:
                                    World Trade Center Block B Silicon Valley,  <br>
                                    Sanfransico,  <br>
                                    CA <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2 text-right">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>To : <a href="#">@ViewBag.Customer.FirstName @ViewBag.Customer.LastName</a></h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Address: @ViewBag.Customer.Address <br>
                                    @ViewBag.Customer.City,@ViewBag.Customer.State <br>
                                    @ViewBag.Customer.Country  <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <h4>Product Name</h4>
                            </th>
                            <th>
                                <h4>Description</h4>
                            </th>
                            <th>
                                <h4>Hrs/Qty</h4>
                            </th>
                            <th>
                                <h4>Rate/Price</h4>
                            </th>
                            <th>
                                <h4>Sub Total</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><a href="~/Products/Details/@item.Products.ID">@item.Products.ProductName</a></td>
                            <td>@item.Products.ProdDesc.Substring(0,20)</td>
                            <td class="text-right">@item.Quantity</td>
                            <td class="text-right">$@item.Products.Price</td>
                            <td class="text-right">$@(item.Products.Price* item.Quantity )</td>
                        </tr>
                        }
                        
                    </tbody>
                </table>
                <div class="row text-right">
                    <div class="col-xs-2 col-xs-offset-8">
                        <p>
                            <strong>
                                Sub Total : <br>
                                TAX : <br>
                                Shipment  : <br>
                                Total : <br>
                            </strong>
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <strong>
                            $@ViewBag.Total <br>
                           $@((ViewBag.Total * 10/100) )<br>
                            $25.00 <br>
                               $@(ViewBag.Total + (ViewBag.Total * 5 / 100)+25)    <br>
                        </strong>
                    </div>
                </div>
            </form>
        </div>
        <!-- // #main -->

        <div class="clear"></div>
    </div>
    <!-- // #container -->
</div>


