@model IEnumerable<ComputerWebShop.Models.Category>





<div class="top-nav rsidebar span_1_of_left">
    <h3 class="cate">@Resources.Resources.categories</h3>
    <ul class="menu">


        @foreach (var item in Model)
        {
            <li class="item1 ">
                <a href="#">

                    <p>
                        @item.CategoryName

                        <img class="arrow-img" style="padding: 1px" src="~/Content/images/arrow1.png" alt=""/>
                    </p>
                </a>

                <ul class="cute">

                    <li class="subitem1">

                        <a href="@Url.Action("ListProducts", "Products", new {CategoryId = item.ID})">@Resources.Resources.AllProducts</a>
                    </li>
                    @{
                        Html.RenderAction("BrandList", "Home", new {Categoryid = item.ID});
                    }



                </ul>
            </li>

        }

        @*<li class="menu-kid-left"><a href="@Url.Action("ContactUs", "ContactUs")">@Resources.Resources.Contactus</a></li>*@

        <!--Testing Link-->
        <li class="menu-kid-left">@Html.ActionLink(@Resources.Resources.Contactus, "ContactUs", "ContactUs")</li>

    </ul>
    
</div>
