@model ComputerWebShop.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">

    <div class="register">
       @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {  role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary()
            <div class="  register-top-grid">
                <h3>PERSONAL INFORMATION</h3>
                <div class="mation">
                    <div class="row">
                        <div class="col-lg-5">
                                    <span>First Name<label>*</label></span>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control",tabindex="1" })
                                    @Html.ValidationMessageFor(m => m.Name)

                                    <span>Last Name<label>*</label></span>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", tabindex = "3" })
                                    @Html.ValidationMessageFor(m => m.LastName)

                                    <span>Phone Number<label>*</label></span>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", tabindex = "5" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                    
                                    <span>Email Address<label>*</label></span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", tabindex = "7" })
                                    @Html.ValidationMessageFor(m => m.Email)

                           
                                <span>Country<label>*</label></span>
                                @Html.TextBoxFor(m => m.Country, new { @class = "form-control", tabindex = "9" })
                                @Html.ValidationMessageFor(m => m.Country)

                        </div>
                                    <div class="col-lg-5">
                                        
                                       <span>Gender<label>*</label></span>
                                        @Html.DropDownListFor(m => m.Gender, new SelectList(
                  new List<Object>{ 
                       new { value="Male" , text = "Male"  },
                       new { value="Female" , text = "Female" }
                    },
                  "value",
                  "text",
2), new { @class = "form-control", tabindex = "2" })
                                        @Html.ValidationMessageFor(m => m.Gender)

                                        <span>Address<label>*</label></span>
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", tabindex = "4" })
                                        @Html.ValidationMessageFor(m => m.Address)

                                        <span>City<label>*</label></span>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", tabindex = "6" })
                                        @Html.ValidationMessageFor(m => m.City)
                                        <span>State<label>*</label></span>
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", tabindex = "8" })
                                        @Html.ValidationMessageFor(m => m.State)

                                        <span>Postal Code<label>*</label></span>
                                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", tabindex = "10" })
                                        @Html.ValidationMessageFor(m => m.PostalCode)




                                        


                                        
                                    </div>
                    </div>
                    
                   

                    
                </div>
                <div class="clearfix"> </div>
                <a class="news-letter" href="#">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up</label>
                </a>
            </div>
            <div class="  register-bottom-grid">
                <h3>LOGIN INFORMATION</h3>
                <div class="mation">
                    <span>Password<label>*</label></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", tabindex = "10" })
                    <span>Confirm Password<label>*</label></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", tabindex = "11" })
                </div>
            </div>
       
        <div class="clearfix"> </div>
        <div class="register-but">
            <input type="submit"  value="Register">
                <div class="clearfix"> </div>
        </div>
       }
    </div>
    <div class="sub-cate">
        @{ Html.RenderAction("CategoryList", "Home");}
        <!--initiate accordion-->
        <script type="text/javascript">
            $(function () {
                var menu_ul = $('.menu > li > ul'),
			           menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });

            });
        </script>
        @{Html.RenderAction("SidePanel", "Home");}
        <a class="view-all all-product" href="~/Products/ListProducts">VIEW ALL PRODUCTS<span> </span></a>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
