@model ComputerWebShop.ViewModel.OrderViewModel

@using (Ajax.BeginForm("CustomerInfo", "Order", new AjaxOptions { HttpMethod = "post", OnBegin = "validateForm", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formsection", LoadingElementId = "divloading" }, new { @class = "go-right", ID = "CustomerForm" }))
{
    @Html.ValidationSummary(true)

    <div id="formsection">
    </div>

    <input type="hidden" name="Customer_ID" value="@Model.Customer.ID" />
    <div>
        @Html.ValidationMessageFor(model => model.Customer.FirstName)
        @Html.TextBoxFor(m => m.Customer.FirstName, new { id = "first_name", type = "text", placeholder = "First Name" })
        <label for="first_name">@Resources.Resources.FirstName</label>
    </div>

    <div>
        <input type="name" name="last_name" value="@Model.Customer.LastName" id="last_name" placeholder="Last Name" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your Last Name" /><label for="last_name">@Resources.Resources.LastName</label>
    </div>
    <div>
        <input type="phone" name="telephone" value="@Model.Customer.PhoneNumber" id="telephone" placeholder="Phone(555)-555-5555" data-trigger="change" data-validation-minlength="1" data-type="number" data-required="true" data-error-message="Enter Your Telephone Number" /><label for="telephone">@Resources.Resources.PhoneNumber</label>
    </div>

    <div>
        <input type="text" name="address" value="@Model.Customer.Address" id="address" placeholder="Address" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing Address" /><label for="Address">@Resources.Resources.Address</label>
    </div>
    <div>
        <input type="text" name="city" value="@Model.Customer.City" id="city" placeholder="City" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing City" /><label for="city">@Resources.Resources.City</label>
    </div>
    <div>
        <input type="text" name="State" value="@Model.Customer.State" id="State" placeholder="State" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing State" /><label for="State">State</label>
    </div>
    <div>

    </div>
    <div>
        <input type="text" name="Country" value="@Model.Customer.Country" id="Country" placeholder="Country" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing Country" /><label for="Country">@Resources.Resources.Country</label>
    </div>
    <input class="continue" value="@Resources.Resources.Update" type="submit" />

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
