@model ComputerWebShop.ViewModel.ThankYouViewModel
@using Microsoft.AspNet.Identity
@using ComputerWebShop.Helper
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Thankyou for buying at computer web shop you will shortly recieve a email.  </h2>
<h3>Invoice</h3>
<div class="row">
    <div class="col-xs-6">
        <h1>

            <img width="150" src="~/Content/images/logo1.jpg" />
        </h1>
    </div>
    <div class="col-xs-6 text-right">
        <h1>INVOICE</h1>
        <h1><small>Email @User.Identity.GetUserName()</small></h1>
    </div>
</div>
<div class="row">
    
   
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                <h4>Product Name</h4>
            </th>
            <th>
                <h4>Description</h4>
            </th>
            <th>
                <h4>Hrs/Qty</h4>
            </th>
            <th>
                <h4>Rate/Price</h4>
            </th>
            <th>
                <h4>Sub Total</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cart)
        {
            <tr>
                <td><a href="~/Products/Details/@item.Products.ID">@item.Products.ProductName</a></td>
                <td>@item.Products.ProdDesc.Substring(0, 20)</td>
                <td class="text-right">@item.Quantity</td>
                <td class="text-right">@item.Products.Price.ToCurrency()</td>
                <td class="text-right">@item.TotalPrice.ToCurrency()</td>
            </tr>
        }

    </tbody>
</table>
<div class="row text-right">
    <div class="col-xs-2 col-xs-offset-8">
        <p>
            <strong>
                Sub Total : <br>
                TAX : <br>
                Shipment  : <br>
                Total : <br>
            </strong>
        </p>
    </div>
    <div class="col-xs-2">
        <strong>



            @Model.GrandSubTotal.ToCurrency() <br>
            @Model.Tax.ToCurrency()<br>
            10.00 <br>
            @Model.GrandTotal.ToCurrency()   <br>
        </strong>
    </div>
</div>
            </form>